.GreenCell {
    color: green;
}
.RedCell {
    color: red;
}

.ver
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
.ver th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #039;
}
.ver td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #669;
}
.pad-1
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pad-2
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pad-3
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pad-4
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pad-final-5
{
	padding-top: 30px;
	padding-bottom: 40px;
}
.pad-6
{
	padding-top: 25px;
	padding-bottom: 20px;
}
.bwarning
{
	background-color: #ec971f;
}
.hov:hover
{
	cursor:	text;
}
.bsuccess
{
	background-color: #5cb85c;
}
.bcsuccess
{
	color: #5cb85c;
}
.binfo
{
	background-color: #5bc0de;
}
.balert
{
	background-color: #c9302c;
}
.fa-3
{
	font-size: 4em;
}
.fa-2
{
	font-size: 2em;
}
.money-color
{
  color: #1D9C73;
}
.nopad-right{
	padding-right: 0px;
}
.nopad-left{
	padding-left: 0px;
}
#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #2196F3;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 12px;
    position: fixed;
    z-index: 9999999;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.offset-center{
	margin-left: 39%;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container-rgt {
  display: flex;
  float: right;
  justify-content: right;
}