﻿.jqx-widget-light {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color: #555;
}
.jqx-widget-content-light {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color: #555;
}
.jqx-widget-header-light {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    background: #fff;
    color: #555;
}

/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-light {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-light {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-light {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-light {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*top rounded Corners*/
.jqx-rc-t-light {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom rounded Corners*/
.jqx-rc-b-light {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*right rounded Corners*/
.jqx-rc-r-light {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*left rounded Corners*/
.jqx-rc-l-light {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*all rounded Corners*/
.jqx-rc-all-light {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jqx-widget-light, .jqx-widget-header-light, .jqx-fill-state-normal-light,
.jqx-widget-content-light, .jqx-fill-state-hover-light, .jqx-fill-state-pressed-light {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
}

.jqx-widget-content-light {
    background-color: #ffffff;
    border-color: #dddddd;
}
.jqx-widget-header-light {
    color: #555;
   	background-color:#f8f8f8; 
    border-color:#dddddd;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-button-light, .jqx-fill-state-normal-light  {
    color: #555;
  	background:#fafafa;
    border-color: #dddddd;
    *zoom: 1;
}

.jqx-fill-state-hover-light {
    border-color: #e6e6e6;
    color: #373a3c;
    background-color: #e6e6e6;
 }
.jqx-fill-state-pressed-light {
    color: #fff !important;
    background-color: #1ca8dd;
    *background-color: #fff;
}

.jqx-fill-state-hover-light, .jqx-fill-state-focus-light {
    color: #333333;
    text-decoration: none;
}

.jqx-button-light  {
    color: #555;
    border-color: #ddd;
    *zoom: 1;
}
.jqx-button-light.jqx-fill-state-hover  {
  
    *zoom: 1;
}
.jqx-button-light.jqx-fill-state-pressed  {
    color: #fff;
  	background:#1ca8dd;
    border-color: #1ca8dd;
    *zoom: 1;
}
.jqx-dropdownlist-state-normal-light, .jqx-dropdownlist-state-hover-light, .jqx-dropdownlist-state-selected-light,
.jqx-scrollbar-button-state-hover-light, .jqx-scrollbar-button-state-normal-light, .jqx-scrollbar-button-state-pressed-light,
.jqx-scrollbar-thumb-state-normal-horizontal-light, .jqx-scrollbar-thumb-state-hover-horizontal-light, .jqx-scrollbar-thumb-state-pressed-horizontal-light,
.jqx-scrollbar-thumb-state-normal-light, .jqx-scrollbar-thumb-state-pressed-light, .jqx-button-light, .jqx-tree-item-hover-light, .jqx-tree-item-selected-light,
.jqx-tree-item-light, .jqx-menu-item-light, .jqx-menu-item-hover-light, .jqx-menu-item-selected-light, .jqx-menu-item-top-light, .jqx-menu-item-top-hover-light, 
.jqx-menu-item-top-selected-light, .jqx-slider-button-light, .jqx-slider-slider-light
 {
    -webkit-transition: background-color 100ms, color 100ms;
     -moz-transition: background-color 100ms, color 100ms;
     -o-transition: background-color 100ms, color 100ms;
     -ms-transition: background-color 100ms, color 100ms;
     transition: background-color 100ms, color 100ms;
}

.jqx-primary-light
{
  color: #1ca8dd  !important;
  background: #fff  !important;
  border-color: #1ca8dd!important;
  text-shadow: none !important;
}
.jqx-primary-light:hover,
.jqx-primary-light:focus,
.jqx-primary-light:active,
.jqx-primary-light.active,
.jqx-primary-light.disabled,
.jqx-primary-light[disabled] {
 color: #fff  !important;
  background: #1ca8dd  !important;
  border-color: #1ca8dd !important;
  text-shadow: none !important;
}

.jqx-fill-state-pressed-light.jqx-primary-light,
.jqx-primary-light:active,
.jqx-primary-light.active {
 color: #fff  !important;
  background-color: #1ca8dd  !important;
  border-color: #1ca8dd!important;
  text-shadow: none !important;
}

.jqx-success-light
{
  color: #5cb85c  !important;
  background: #fff  !important;
  border-color: #5cb85c!important;
  text-shadow: none !important;
}
.jqx-success-light:hover,
.jqx-success-light:focus,
.jqx-success-light:active,
.jqx-success-light.active,
.jqx-success-light.disabled,
.jqx-success-light[disabled] {
 color: #fff  !important;
  background: #5cb85c  !important;
  border-color: #5cb85c!important;
  text-shadow: none !important;
}

.jqx-fill-state-pressed-light.jqx-success-light,
.jqx-success-light:active,
.jqx-success-light.active {
  text-shadow: none !important;
 color: #fff  !important;
  background: #5cb85c  !important;
  border-color: #5cb85c!important;
}

.jqx-inverse-light
{
  text-shadow: none !important;
  color: #666  !important;
  background: #fff  !important;
  border-color: #cccccc!important;
}
.jqx-inverse-light:hover,
.jqx-inverse-light:focus,
.jqx-inverse-light:active,
.jqx-inverse-light.active,
.jqx-inverse-light.disabled,
.jqx-inverse-light[disabled] {
  text-shadow: none !important;
 color: #666  !important;
  background: #cccccc  !important;
  border-color: #cccccc!important;
}

.jqx-fill-state-pressed-light.jqx-inverse-light,
.jqx-inverse-light:active,
.jqx-inverse-light.active {
  text-shadow: none !important;
 color: #666  !important;
  background: #cccccc  !important;
  border-color: #cccccc!important;
}


.jqx-danger-light
{
  text-shadow: none !important;
  color: #d9534f  !important;
  background: #fff  !important;
  border-color: #d9534f!important;
}
.jqx-danger-light:hover,
.jqx-danger-light:focus,
.jqx-danger-light:active,
.jqx-danger-light.active,
.jqx-danger-light.disabled,
.jqx-danger-light[disabled] {
  text-shadow: none !important;
 color: #fff  !important;
  background: #d9534f  !important;
  border-color: #d9534f!important;
}

.jqx-fill-state-pressed-light.jqx-danger-light,
.jqx-danger-light:active,
.jqx-danger-light.active {
  text-shadow: none !important;
 color: #fff  !important;
  background: #d9534f  !important;
  border-color: #d9534f!important;
}


.jqx-warning-light
{
  text-shadow: none !important;
  color: #f0ad4e  !important;
  background: #fff  !important;
  border-color: #f0ad4e!important;
}
.jqx-warning-light:hover,
.jqx-warning-light:focus,
.jqx-warning-light:active,
.jqx-warning-light.active,
.jqx-warning-light.disabled,
.jqx-warning-light[disabled] {
  text-shadow: none !important;
 color: #fff  !important;
  background: #f0ad4e  !important;
  border-color: #f0ad4e!important;
}

.jqx-fill-state-pressed-light.jqx-warning-light,
.jqx-warning-light:active,
.jqx-warning-light.active {
  text-shadow: none !important;
 color: #fff  !important;
  background: #f0ad4e  !important;
  border-color: #f0ad4e!important;
}


.jqx-info-light
{
  text-shadow: none !important;
  color: #5bc0de  !important;
  background: #fff  !important;
  border-color: #5bc0de!important;
}
.jqx-info-light:hover,
.jqx-info-light:focus,
.jqx-info-light:active,
.jqx-info-light.active,
.jqx-info-light.disabled,
.jqx-info-light[disabled] {
 color: #fff  !important;
  background: #5bc0de  !important;
  border-color: #5bc0de!important;
  text-shadow: none !important;
}

.jqx-fill-state-pressed-light.jqx-info-light,
.jqx-info-light:active,
.jqx-info-light.active {
  text-shadow: none !important;
 color: #fff  !important;
  background: #5bc0de  !important;
  border-color: #5bc0de!important;
}

.jqx-fill-state-pressed-light {
    background-image: none;
    outline: 0;
}

.jqx-grid-cell-light {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-grid-column-menubutton-light {
    background-color: transparent;
    border-color: #ddd !important;
}
.jqx-cell-light {
    font-size: 14px;
}
.jqx-calendar-row-header-light, .jqx-calendar-top-left-header-light {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header-light {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-expander-header-light {
    padding-top: 10px; padding-bottom: 10px;
}
.jqx-ribbon-header-vertical-light, .jqx-widget-header-vertical-light {
	background:#f0f0f0;
	background:-ms-linear-gradient(left, #f8f8f8 0%,#eaeaea 100%);
	background:linear-gradient(left, #f8f8f8 0%,#eaeaea 100%);	
}

.jqx-scrollbar-state-normal-light {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}

.jqx-scrollbar-thumb-state-normal-light, .jqx-scrollbar-thumb-state-normal-horizontal-light {
    background: #f5f5f5;
    border-color: #b3b3b3;
}

.jqx-scrollbar-thumb-state-hover-light, .jqx-scrollbar-thumb-state-hover-horizontal-light {
    background: #e6e6e6;
    border-color: #b3b3b3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-progressbar-light {
    background: #f7f7f7 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-progressbar-value-light, .jqx-splitter-collapse-button-horizontal-light {
    background: #1ca8dd;
}

.jqx-splitter-collapse-button-vertical-light, .jqx-progressbar-value-vertical-light {
    background: #1ca8dd;
}


.jqx-scrollbar-thumb-state-pressed-light, .jqx-splitter-splitbar-vertical-light, .jqx-splitter-splitbar-horizontal-light, .jqx-scrollbar-thumb-state-pressed-horizontal-light,
.jqx-scrollbar-button-state-pressed-light
 {
    background: #d9d9d9;
    border-color: #b3b3b3;
     box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-grid-column-sortdescbutton-light, jqx-grid-column-filterbutton-light, .jqx-grid-column-sortascbutton-light {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #ddd;
}

.jqx-menu-vertical-light {
    background: #ffffff;
    filter: none;
}

.jqx-checkbox-check-checked-light {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}
.jqx-checkbox-hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-combobox-content-light, .jqx-input-light {
}

.jqx-combobox-content-light {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.25);
}

.jqx-grid-bottomright-light, .jqx-panel-bottomright-light, .jqx-listbox-bottomright-light {
    background-color: #f8f8f8;
}

.jqx-window-light, .jqx-tooltip-light {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.jqx-docking-light .jqx-window-light {
    box-shadow: none;
}

.jqx-docking-panel-light .jqx-window-light {
    box-shadow: none;
}

.jqx-radiobutton-light {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-repeat: no-repeat;
    background: none;
}

.jqx-radiobutton-light-light, .jqx-radiobutton-hover-light {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.jqx-radiobutton-check-checked-light {
    filter: none;
    background: #1ca8dd;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-light {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-disabled-light {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-slider-track-horizontal-light, .jqx-slider-track-vertical-light {
    border-color: #ddd;
    background: #f0f0f0;
}

.jqx-slider-button-light {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/*applied to a list item when the item is selected.*/
.jqx-listitem-state-hover-light, .jqx-menu-item-hover-light, .jqx-tree-item-hover-light, .jqx-calendar-cell-hover-light, .jqx-grid-cell-hover-light,
.jqx-menu-vertical-light .jqx-menu-item-top-hover-light, .jqx-input-popup-light .jqx-fill-state-hover-light,
.jqx-input-popup-light .jqx-fill-state-pressed-light {
    color: #137499 !important;
    border-color: #e3f5fb;
    text-decoration: none;
    background-color: #e3f5fb;
    background-repeat: repeat-x;
    outline: 0;
    background: #e3f5fb; /* Old browsers */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-position: 0 0;
}
.jqx-scheduler-cell-hover-light {
    border-color: #e3f5fb !important;
    background: #e3f5fb !important;
}
.jqx-grid-table-dark {
    font-size: 14px;
}

.jqx-listitem-state-group-light
{
    padding: 4px 2px 4px 2px;
}
/*applied to a list item in default state.*/
.jqx-listitem-state-normal-light
{
    padding: 4px 3px 4px 3px;
}
/*applied to a list item in hovered state.*/
.jqx-listitem-state-hover-light
{
    padding: 4px 3px 4px 3px;
}
/*applied to a list item when the item is selected.*/
.jqx-listitem-state-selected-light
{
    padding: 4px 3px 4px 3px;
}

.jqx-listitem-state-selected-light, .jqx-menu-item-selected-light, .jqx-tree-item-selected-light, .jqx-calendar-cell-selected-light, .jqx-grid-cell-selected-light,
.jqx-menu-vertical-light .jqx-menu-item-top-selected-light, .jqx-grid-selectionarea-light, .jqx-input-button-header-light, .jqx-input-button-innerHeader-light {
    color: #ffffff !important;
    background-color: #1ca8dd;
    *background-color: #1ca8dd;
    background-repeat: repeat-x;
    border-color: #1ca8dd !important;
    background: #1ca8dd; /* Old browsers */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqx-scheduler-cell-selected-light {
    border-color: #1ca8dd !important;
    background: #1ca8dd !important;
}
.jqx-grid-cell-light .jqx-button-light, .jqx-grid-cell-light .jqx-button-light.jqx-fill-state-hover-light, .jqx-grid-cell-light .jqx-button-light.jqx-fill-state-pressed-light {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
   -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.jqx-popup-light {
    border: 1px solid #ddd;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.jqx-grid-column-sortascbutton-light, .jqx-expander-arrow-bottom-light, .jqx-window-collapse-button-light, .jqx-menu-item-arrow-up-light, .jqx-menu-item-arrow-up-selected-light, .jqx-menu-item-arrow-top-up-light, .jqx-icon-arrow-up-light, .jqx-icon-arrow-up-hover-light, .jqx-icon-arrow-up-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-light .jqx-grid-group-expand-light, .jqx-grid-group-expand-light, .jqx-grid-column-menubutton-light, .jqx-grid-column-sortdescbutton-light, .jqx-expander-arrow-top-light, .jqx-window-collapse-button-collapsed-light, .jqx-menu-item-arrow-down-light, .jqx-menu-item-arrow-down-selected-light, .jqx-menu-item-arrow-down-light, .jqx-icon-arrow-down-light, .jqx-icon-arrow-down-hover-light, .jqx-icon-arrow-down-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tabs-arrow-left-light, .jqx-menu-item-arrow-left-selected-light, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left-light, .jqx-icon-arrow-down-left-light, .jqx-icon-arrow-left-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-light .jqx-grid-group-collapse-light, .jqx-grid-group-collapse-light, .jqx-tabs-arrow-right-light, .jqx-menu-item-arrow-right-selected-light, .jqx-menu-item-arrow-top-right-light, .jqx-icon-arrow-right-light, .jqx-icon-arrow-right-hover-light, .jqx-icon-arrow-right-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tree-item-arrow-collapse-rtl-light, .jqx-tree-item-arrow-collapse-hover-rtl-light {
    background-image: url(../jqwidgets/styles/images/metro-icon-left.png);
}

.jqx-menu-item-arrow-left-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-menu-item-arrow-right-selected-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-input-button-content-light {
    font-size: 10px;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {border-color: #ddd;}
.jqx-combobox-content-light, .jqx-input-light {
    border-color: #ddd;
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.jqx-combobox-content-light, .jqx-combobox-light, .jqx-combobox-state-normal-light {
    border-color: #ddd;
}

.jqx-combobox-content-focus-light, .jqx-combobox-state-focus-light, .jqx-fill-state-focus-light,
.jqx-numberinput-focus-light {
    outline: none;
    border-color: #959595;
}


input[type="text"].jqx-input-light, input[type="password"].jqx-input-light, input[type="text"].jqx-widget-content-light, input[type="textarea"].jqx-widget-content-light, textarea.jqx-input-light {
    font-size: 14px;
    padding: 0px;
    padding-left:3px;
    padding-right: 3px;
    resize: none;
}

input[type="text"].jqx-input-light:-moz-placeholder, input[type="text"].jqx-widget-content-light:-moz-placeholder, input[type="textarea"].jqx-widget-content-light:-moz-placeholder, textarea.jqx-input-light:-moz-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-light:-webkit-input-placeholder, input[type="text"].jqx-widget-content-light:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content-light:-webkit-input-placeholder, textarea.jqx-input-light:-webkit-input-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-light:-ms-input-placeholder, input[type="text"].jqx-widget-content-light:-ms-input-placeholder, input[type="textarea"].jqx-widget-content-light:-ms-input-placeholder, textarea.jqx-input-light:-ms-input-placeholder {
    color: #999999;
}

.jqx-combobox-content-light, .jqx-input-light {
    border-color: #ddd;
    color: #555555;
    background-color: #ffffff;
}

.jqx-combobox-content-light, .jqx-combobox-light, .jqx-combobox-state-normal-light {
    border-color: #ddd;
}

.jqx-combobox-content-focus-light, .jqx-combobox-state-focus-light, .jqx-fill-state-focus-light,
.jqx-numberinput-focus-light {
    outline: none;
    border-color: #1ca8dd;
}
.jqx-popup-light.jqx-fill-state-focus-light
{
    outline: none;
    border-color: #ddd !important;
}

.jqx-datetimeinput-content, .jqx-datetimeinput-container {
    overflow: visible !important;
}


.jqx-slider-rangebar-light {
    border-color: #1ca8dd;
    background: #1ca8dd;
}

.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-expand-light,
.jqx-grid-cell-light.jqx-grid-cell-hover-light>.jqx-grid-group-expand-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-collapse-light,
.jqx-grid-cell-light.jqx-grid-cell-hover-light>.jqx-grid-group-collapse-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-collapse-rtl-light,
.jqx-grid-cell-light.jqx-grid-cell-hover-light>.jqx-grid-group-collapse-rtl-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-expand-rtl-light,
.jqx-grid-cell-light.jqx-grid-cell-hover-light>.jqx-grid-group-expand-rtl-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tabs-title-selected-top-light, .jqx-tabs-selection-tracker-top-light {
    border-color: #ddd;
    border-bottom: 1px solid #fff;
    filter: none;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-tabs-title-selected-bottom-light, .jqx-tabs-selection-tracker-bottom-light {
    border-color: #ddd;
    border-top: 1px solid #fff;
    filter: none;
    background: #fff;
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqx-tabs-title-hover-top-light, .jqx-tabs-title-hover-bottom-light, .jqx-tabs-header-light
{
   -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.jqx-window-collapse-button-light
{
    margin-top: 2px;
}
.jqx-window-collapse-button-collapsed-light {
    margin-top: 0px;
}
.jqx-layout-light
{
    background-color: #cccccc;
}
.jqx-kanban-column-header-collapsed-light {
   background: -moz-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248,248,248,1)), color-stop(100%, rgba(234,234,234,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 100%); /* w3c */
}

.jqx-calendar-light td {
    font-size: 14px;
}
.jqx-grid-column-menubutton-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-down.png');
 }

.jqx-menu-item-arrow-up-selected-light, .jqx-icon-arrow-up-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-light, .jqx-icon-arrow-down-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-light, .jqx-icon-arrow-left-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-light, .jqx-icon-arrow-right-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-light{background-image:url(../jqwidgets/styles/images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-light{background-image:url(../jqwidgets/styles/images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-light{background-image:url(../jqwidgets/styles/images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-scrollbar-button-state-pressed-light .jqx-icon-arrow-up-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-up.png');background-repeat:no-repeat;background-position:center;}
.jqx-scrollbar-button-state-pressed-light .jqx-icon-arrow-down-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-down.png');background-repeat:no-repeat;background-position:center;}
.jqx-scrollbar-button-state-pressed-light .jqx-icon-arrow-left-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-left.png');background-repeat:no-repeat;background-position:center;}
.jqx-scrollbar-button-state-pressed-light .jqx-icon-arrow-right-selected-light{background-image:url('../jqwidgets/styles/images/metro-icon-right.png');background-repeat:no-repeat;background-position:center;}

.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-expand-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-collapse-light{
    background-image: url('../jqwidgets/styles/images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-collapse-rtl-light {
    background-image: url('../jqwidgets/styles/images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-light.jqx-grid-cell-selected-light>.jqx-grid-group-expand-rtl-light{
    background-image: url('../jqwidgets/styles/images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-light {
    background-image: url(../jqwidgets/styles/images/metro-icon-right.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-light
{
    padding-right: 0px;
    background-image: url(../jqwidgets/styles/images/metro-icon-left.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-light, .jqx-grid-group-expand-rtl-light
{
    padding-right: 0px;
    background-image: url(../jqwidgets/styles/images/metro-icon-down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-hover-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-hover-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-selected-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-light
{
    background-image: url('../jqwidgets/styles/images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-collapse-button-light {
    margin-top: 1px;
}
.jqx-icon-calendar-pressed-light {
    background-image: url('../jqwidgets/styles/images/icon-calendar-white.png');
}
.jqx-icon-time-pressed-light {
    background-image: url('../jqwidgets/styles/images/icon-time-white.png');
}
#toggleButton {
    position: relative;
    cursor: pointer;
    float: right;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 7px;
    background-repeat: no-repeat;
    background-image: url(../resources/design/i/arrow-menu.png);
   background-position-y: -128px;
}
.highlightText {
    color: #fff; background: #55bbe8;
}
#toggleButtonLabel {
    position: relative;
    cursor: pointer;
    float: right;
    right: 20px;
}
#introduction {
    position: relative;
    margin-top:-15px;
}
.widgets.closed {
   background: #F4F4F5;
}
#toggleButtonWrapper {
    position: absolute;
    right: 0px;
}
#toggleButton.closed {
   background-position-y: 0px;
}
.widgets.closed{
    background:#f4f4f5;
}
.jqx-sortable-icon, .jqx-buttons-icon, .jqx-calendar-icon, .jqx-chart-icon, .jqx-colorpicker-icon, .jqx-angularjs-icon, .jqx-mvc-icon, .jqx-bootstrap-icon, .jqx-java-icon, .jqx-jquerymobile-icon, .jqx-bulletchart-icon, .jqx-knockoutjs-icon, .jqx-php-icon, .jqx-requirejs-icon, .jqx-combobox-icon, .jqx-complexinput-icon, .jqx-dataadapter-icon, .jqx-datatable-icon, .jqx-datetimeinput-icon, .jqx-docking-icon, .jqx-docklayout-icon, .jqx-dragdrop-icon, .jqx-draw-icon, .jqx-dropdownlist-icon, .jqx-editor-icon, .jqx-expander-icon, .jqx-fileupload-icon, .jqx-formattedinput-icon, .jqx-gauge-icon, .jqx-bar-gauge-icon, .jqx-grid-icon, .jqx-inputfield-icon, .jqx-layout-icon, .jqx-listbox-icon, .jqx-listmenu-icon, .jqx-loader-icon, .jqx-maskedinput-icon, .jqx-menu-icon, .jqx-navbar-icon, .jqx-navigationbar-icon, .jqx-notification-icon, .jqx-numberinput-icon, .jqx-panel-icon, .jqx-passwordinput-icon, .jqx-pivotgrid-icon, .jqx-popover-icon, .jqx-progressbar-icon, .jqx-rangeselector-icon, .jqx-rating-icon, .jqx-response-icon, .jqx-responsivepanel-icon, .jqx-ribbon-icon, .jqx-scheduler-icon, .jqx-scrollbar-icon, .jqx-scrollview-icon, .jqx-slider-icon, .jqx-splitter-icon, .jqx-tabs-icon, .jqx-textarea-icon, .jqx-toolbar-icon, .jqx-tooltip-icon, .jqx-tree-icon, .jqx-treegrid-icon, .jqx-treemap-icon, .jqx-validator-icon, .jqx-window-icon, .jqx-knob-icon, .jqx-tagcloud-icon, .jqx-kanban-icon, .jqx-touch-icon{
	background: url(widget_icons.png) no-repeat; float:left; position: relative !important; width:24px !important; height: 24px !important;
}

.jqx-buttons-icon{
	background-position: -388px -24px ;
	width: 23px;
	height: 22px;
}

.jqx-sortable-icon{
	background-position: -225px -346px ;
	width: 23px;
	height: 22px;
}

.jqx-calendar-icon{
	background-position: -328px -19px ;
	width: 23px;
	height: 23px;
}

.jqx-chart-icon{
	background-position: -216px -28px ;
	width: 24px;
	height: 21px;
}

.jqx-colorpicker-icon{
	background-position: -164px -25px ;
	width: 23px;
	height: 21px;
}

.jqx-angularjs-icon{
	background-position: -115px -19px ;
	width: 24px;
	height: 25px;
}

.jqx-mvc-icon{
	background-position: -16px -24px ;
	width: 25px;
	height: 18px;
}

.jqx-bootstrap-icon{
	background-position: -494px -14px ;
	width: 24px;
	height: 24px;
}

.jqx-java-icon{
	background-position: -439px -20px ;
	width: 24px;
	height: 20px;
}

.jqx-jquerymobile-icon{
	background-position: -269px -21px ;
	width: 24px;
	height: 20px;
}

.jqx-bulletchart-icon{
	background-position: -70px -16px ;
	width: 23px;
	height: 14px;
}

.jqx-knockoutjs-icon{
	background-position: -301px -289px ;
	width: 24px;
	height: 19px;
}

.jqx-php-icon{
	background-position: -250px -287px ;
	width: 24px;
	height: 18px;
}

.jqx-requirejs-icon{
	background-position: -191px -291px ;
	width: 24px;
	height: 24px;
}

.jqx-combobox-icon{
	background-position: -350px -289px ;
	width: 24px;
	height: 18px;
}

.jqx-complexinput-icon{
	background-position: -407px -278px ;
	width: 18px;
	height: 16px;
}

.jqx-dataadapter-icon{
	background-position: -461px -287px ;
	width: 23px;
	height: 19px;
}

.jqx-grid-icon{
	background-position: -135px -290px ;
	width: 24px;
	height: 20px;
}

.jqx-datetimeinput-icon{
	background-position: -71px -289px ;
	width: 23px;
	height: 23px;
}

.jqx-docking-icon{
	background-position: -511px -284px ;
	width: 24px;
	height: 24px;
}

.jqx-docklayout-icon{
	background-position: -11px -293px ;
	width: 24px;
	height: 24px;
}

.jqx-dragdrop-icon{
	background-position: -565px -289px ;
	width: 23px;
	height: 23px;
}

.jqx-draw-icon{
	background-position: -569px -229px ;
	width: 24px;
	height: 19px;
}

.jqx-dropdownlist-icon{
	background-position: -517px -228px ;
	width: 24px;
	height: 15px;
}

.jqx-editor-icon{
	background-position: -400px -225px ;
	width: 22px;
	height: 23px;
}

.jqx-expander-icon{
	background-position: -319px -227px ;
	width: 24px;
	height: 24px;
}

.jqx-fileupload-icon{
	background-position: -251px -234px ;
	width: 24px;
	height: 19px;
}

.jqx-formattedinput-icon{
	background-position: -455px -229px ;
	width: 22px;
	height: 12px;
}

.jqx-gauge-icon{
	background-position: -190px -236px ;
	width: 24px;
	height: 22px;
}
.jqx-bar-gauge-icon{
	background-position: -266px -344px ;
	width: 24px;
	height: 22px;
}
.jqx-datatable-icon{
	background-position: -134px -235px ;
	width: 22px;
	height: 22px;
}

.jqx-inputfield-icon{
	background-position: -74px -236px ;
	width: 24px;
	height: 16px;
}

.jqx-layout-icon{
	background-position: -16px -237px ;
	width: 23px;
	height: 21px;
}

.jqx-listbox-icon{
	background-position: -584px -167px ;
	width: 24px;
	height: 21px;
}

.jqx-listmenu-icon{
	background-position: -521px -169px ;
	width: 25px;
	height: 20px;
}

.jqx-loader-icon{
	background-position: -326px -171px;
	width: 24px;
	height: 24px;
}

.jqx-maskedinput-icon{
	background-position: -453px -170px ;
	width: 21px;
	height: 12px;
}

.jqx-menu-icon{
	background-position: -393px -170px ;
	width: 25px;
	height: 15px;
}

.jqx-navbar-icon{
	background-position: -267px -168px ;
	width: 23px;
	height: 13px;
}

.jqx-navigationbar-icon{
	background-position: -206px -176px ;
	width: 24px;
	height: 13px;
}

.jqx-notification-icon{
	background-position: -143px -175px ;
	width: 23px;
	height: 23px;
}

.jqx-numberinput-icon{
	background-position: -81px -176px ;
	width: 23px;
	height: 14px;
}

.jqx-panel-icon{
	background-position: -12px -184px ;
	width: 24px;
	height: 21px;
}

.jqx-passwordinput-icon{
	background-position: -592px -118px ;
	width: 23px;
	height: 16px;
}

.jqx-pivotgrid-icon{
	background-position: -425px -116px ;
	width: 21px;
	height: 24px;
}

.jqx-popover-icon{
	background-position: -535px -118px ;
	width: 24px;
	height: 21px;
}

.jqx-progressbar-icon{
	background-position: -483px -120px ;
	width: 23px;
	height: 19px;
}

.jqx-rangeselector-icon{
	background-position: -370px -120px ;
	width: 24px;
	height: 16px;
}

.jqx-rating-icon{
	background-position: -70px -118px ;
	width: 26px;
	height: 24px;
}

.jqx-response-icon{
	background-position: -303px -119px ;
	width: 22px;
	height: 19px;
}

.jqx-responsivepanel-icon{
	background-position: -245px -123px ;
	width: 19px;
	height: 19px;
}

.jqx-ribbon-icon{
	background-position: -189px -123px ;
	width: 23px;
	height: 20px;
}

.jqx-scheduler-icon{
	background-position: -8px -121px ;
	width: 24px;
	height: 23px;
}

.jqx-scrollbar-icon{
	background-position: -136px -121px ;
	width: 18px;
	height: 21px;
}

.jqx-scrollview-icon{
	background-position: -543px -63px ;
	width: 23px;
	height: 23px;
}

.jqx-slider-icon{
	background-position: -552px -14px ;
	width: 24px;
	height: 20px;
}

.jqx-splitter-icon{
	background-position: -489px -61px ;
	width: 21px;
	height: 24px;
}

.jqx-tabs-icon{
	background-position: -429px -67px ;
	width: 24px;
	height: 20px;
}

.jqx-textarea-icon{
	background-position: -370px -66px ;
	width: 24px;
	height: 20px;
}

.jqx-toolbar-icon{
	background-position: -321px -66px ;
	width: 24px;
	height: 22px;
}

.jqx-tooltip-icon{
	background-position: -263px -66px ;
	width: 24px;
	height: 24px;
}

.jqx-tree-icon{
	background-position: -212px -71px ;
	width: 24px;
	height: 24px;
}

.jqx-treegrid-icon{
	background-position: -165px -74px ;
	width: 22px;
	height: 18px;
}

.jqx-treemap-icon{
	background-position: -118px -69px ;
	width: 23px;
	height: 22px;
}

.jqx-validator-icon{
	background-position: -63px -72px ;
	width: 25px;
	height: 16px;
}

.jqx-window-icon{
	background-position: -12px -70px ;
	width: 23px;
	height: 21px;
}

.jqx-knob-icon{
	background-position: -137px -344px ;
	width: 24px;
	height: 24px;
}

.jqx-tagcloud-icon{
	background-position: -72px -347px ;
	width: 24px;
	height: 24px;
}

.jqx-kanban-icon{
	background-position: -12px -346px ;
	width: 22px;
	height: 22px;
}
.jqx-touch-icon{
	background-position: -181px -347px ;
	width: 20px;
	height: 20px;
}
 .doc_mask {
    background: #fff;
}
.doc_mask {
    position: absolute;
    left: 0px;
    height:100%;
}
.doc_content {
    min-height:100%;
}
.anchorSelected {
    color: #6bbd49 !important;
}
.jqx-widget-title-icon {
    top: 13px;
    margin-right:10px;
    margin-left:10px;
}
.doc_content {
    padding-top: 2em !important;
}
.demoTabs {
    border:none;
}

#innerdemoContainer iframe {
    border:none !important;
    padding: 0px !important;
}


.jqx-widget-jqxtabs {
    border: none;
}

.jqx-widget-header-jqxtabs {
    border: none;
    background: transparent;
}

.jqx-tabs-title-jqxtabs {
    color: #3F3F3F;
    font-weight: 300 !important;
    border: none;
    border-bottom: 5px solid transparent;
    background-image: none !important;
}

.jqx-tabs-title-selected-top-jqxtabs {
    color: #3F3F3F;
    border: none;
    background: transparent;
    border-bottom: 5px solid #53b8eb;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.jqx-tabs-title-selected-top-jqxtabs:hover {
    color: #53b8eb;
}
.jqx-tabs-title-hover-top-jqxtabs {
    background: none;
    color: #53b8eb;
    border-color: transparent;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    border-bottom: 5px solid transparent;
}
.jqx-tabs-title-hover-top-jqxtabs {
    color: #53b8eb;
}
.jqx-tabs-jqxtabs pre, .jqx-tabs-jqxtabs pre .code {
    border: none !important;
    padding: 0px !important;
}

.jqx-tabs-jqxtabs iframe {
    border: none !important;
    padding: 0px !important;
}
@media all and (max-width: 767px) {
    .documentation .doc_content {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
html, body {
    overflow-x: hidden;
}
#tabs-2 {
    overflow-y: hidden !important;
}
#tabs-2, #tabs-4, #tabs-5 {
    padding-top:30px;
}
#tabs-3 {
    padding-top:25px;
}
#tabs-1 {
    padding-top:5px;
}
.search, .search input, .search input[type="text"] {
    height: 40px;
    line-height:40px;
    background: #e8e8e8;
}
.search {
    width:80%;
    margin:0px;
}

.search::-ms-clear {  display: none; width : 0; height: 0; }
.search::-ms-reveal {  display: none; width : 0; height: 0; }

@media all and (max-width: 1140px) {
    .search {
        width:96%;
    }
    .jqx-widget-title-icon {
    margin-left:0px;
}

}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}
pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.js-punctuation {
  color: #666666;
}

span.js-operator {
  color: #666666;
}

span.js-keyword {
  color: #770088;
}

span.js-atom {
  color: #228811;
}

span.js-variable {
  color: black;
}

span.js-variabledef {
  color: #0000FF;
}

span.js-localvariable {
  color: #004499;
}

span.js-property {
  color: black;
}

span.js-comment {
  color: #AA7700;
}

span.js-string {
  color: #AA2222;
}

